.login {
    text-align: center;
    font-weight: 300;
    width: 100%;
  }
  .divider {
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(175, 168, 168);
    margin-top: 5px;
    width: 100%;
  }
  .create-account {
    background-color: #3e3e7a;
    color: #ffffff;
    margin-left: 5px;
    width: 100%;
  }
  