<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="30">
      <mat-toolbar fxLayoutAlign="center center">
        <div>
          <h1>Forgot Password?</h1>
        </div>
      </mat-toolbar>
    <form  [formGroup]="frmPassword"
    
    >
      <!-- <div class="header">Forgot Password?</div> -->
      <div class="text">Please enter your e-mail</div>
      <div class="email-container">
       
        <input class="input"
         
          type="text"
          placeholder="E-mail"
          formControlName="email"
        />
  
        <mat-error *ngIf="email && email.invalid && email.touched">Please enter valid e-mail.
        </mat-error>
      </div>
      
      <button type="submit" mat-button class="button">Submit</button>
      <!-- <div class="divider"></div> -->
      
      <div class="login">Have an account? <a routerLink="/login">Login</a></div>
    </form>
</mat-card>
</div>
 
  
